= form_for ([@photo, @comment]) do |f|
  .form-group
    = f.text_area  :content, class: 'form-control'
    = f.hidden_field :photo_id
  .pull-right
    = f.submit  "Send", class:"btn btn-primary"
    