.col-md-6.col-md-offset-3
  - @photos.each do |photo|
    .box.panel.panel-default
      .panel-body
        = image_tag photo.photo.url, class: "img-responsive"
        %h2
          = link_to photo.title, photo
